@model IEnumerable<QLBH_ltcsdl_.Models.ViewModel>

<div style="border: 1px solid groove; text-align: center;">
    <h2>CHI TIẾT HÓA ĐƠN</h2>
</div>

<p>
    @foreach (var m in ViewBag.Main)
    {
        <p>
            Mã hóa đơn: @m.hoadon.MaHoaDon
        </p>
        <p>
            Tên khách hàng: @m.khachhang.TenKH
        </p>
    }
</p>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        @{
            double tongtien = 0;
            int i = 0;
        }
        @foreach (var item in ViewBag.Sub)
        {
            i++;
            tongtien += item.Thanhtien;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.sanpham.TenHoa
                </td>
                <td>
                    @item.cthd.SoLuong
                </td>
                <td>
                    @String.Format("{0:#,###}", item.cthd.DonGia)
                </td>
                <td>
                    @String.Format("{0:#,###}", item.Thanhtien)
                </td>
            </tr>
        }
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@String.Format("{0:#,###}", tongtien)</th>
        </tr>

    </table>
    <div>
        <a class="btn btn-info" href="@Url.Action("Index", "HoaDons")">Quay lại</a>
    </div>
